<div>

    <div data-bind="visible: gameOver"><span data-bind="text: gameOver"></span> WON THE GAME!!</div>

    <ul id="board"> 
        <!-- ko foreach: tiles -->
        <li class="tile">
            <div data-bind="text: displayName, css: colour" class="title"></div>
            <!-- ko foreach: { data: playersPresent, as: 'player' } -->
                <div data-bind="css: player.attributes.playerId" class="player"></div>
            <!-- /ko -->               
        </li>
        <!-- /ko -->
    </ul>

    <pre id="game-log" data-bind="text: gameLog"></pre>
    <pre id="game-info" data-bind="text: gameInfo"></pre>
</div>