#board {
    list-style: none;
    width: 6200px;
    margin-right: 50px;

}

.tile {
    display: inline-block;
    width: 150px;
    height: 200px;
    border: 1px solid #000;
    text-align: center;   
    vertical-align: top; 
}

.title {
    text-shadow: 1px 1px 1px #fff;
    height: 55px;
    vertical-align: middle;
}

.brown {
    background: brown;
}

.blue {
    background: blue;
}

.pink {
    background: pink;
}

.orange {
    background: orange;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.purple {
    background: purple;
}

.player {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
}

.player1 {
    background: red
}

.player2 {
    background: blue
}

.player3 {
    background: yellow
}

.player4 {
    background: green
}