#board {
    list-style: none;
    width: 6200px;
    margin-right: 50px;

}

.tile {
    display: inline-block;
    width: 150px;
    height: 200px;
    border: 1px solid #000;
    text-align: center;   
    vertical-align: top; 
}

.title {
    text-shadow: 1px 1px 1px #fff;
    height: 55px;
    vertical-align: middle;
}

.brown {
    background: brown;
}

.blue {
    background: blue;
}

.pink {
    background: pink;
}

.orange {
    background: orange;
}

.red {
    background: red;
}

.yellow {
    background: yellow;
}

.green {
    background: green;
}

.purple {
    background: purple;
}

pre {
    width: 500px;
    max-height: 400px;

    float: left;
    margin-right: 2em;

    overflow-y: auto;
    border: groove 10px teal;
    padding: 1em;
    background: #333;
    color: #f8f8f8;
}
