#board {
    list-style: none;
    width: 6200px;
    margin-right: 50px;

}

.tile {
    display: inline-block;
    width: 150px;
    height: 200px;
    border: 1px solid #000;
    text-align: center;    
}
